@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    font-family: 'Nunito', sans-serif;
}


/*-------------generl stylings*/

h1, h2, h3, h4, h5{
    margin: 0;
}
.uppercase{
    text-transform: uppercase;
}

.general-sub{
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    color: white;
}

inline-block{
    display:inline-block;
}

.row-table {
    display: table;
}

.section-column {
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}


/*-------------colors*/
.bg-color-name-title{
    background-color: grey;
}

.ui-menu-color-home{
    background-color: rgb(230, 255, 196);
}

.ui-menu-color-resume{
    background-color: bisque;
}

.ui-menu-color-contact{
    background-color: rgb(196, 245, 255);
}

.ui-menu-color-download{
    background-color: rgb(255, 196, 243);
}

.bg-color-personal-info{
    background-color: pink
}

.bg-color-contact{
    background-color: aliceblue;
}
/*-------------heading*/

header{
    margin: 0;
}

.heading{
    margin-left: 50px;
}

.logo{
    background: url(../images/profile_image.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name{
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    font-size: 48px;
    margin-top: 50px;
    color: white;
}

.title{
    font-family: 'Lora', sans-serif;
    font-weight: 100;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: white;
}

/*----------menu*/
.menucontainer{
    font-size: 0;
    padding: 0;
}

#nav{
    margin: 0;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

#nav {
    margin: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: grey;
    display: flex;
    height: 120px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
}

.menuitem a i {
    display: block;
    color: grey;
    font-size: 26px;
    padding-left: 16px;
}

.menuitem span {
    width: 100%;
    padding-top: 35px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/*-------------------------------------------personal info*/
.personal-info-container{
    padding: 0;
}

.personal-info-item{
    display: block;
    
}

.personal-info-item .key,
.personal-info-item .value {
    display: inline-block;
    padding-left: 20px;
}

.personal-info-item .key {
    width: 30%;
    margin-right: 21px;
    padding-top: 2px;
    vertical-align: top;
    font-weight: bold;
}

.personal-info-item .value {
    position: relative;
    width: 60%;
}

/*--------------------------------contact page*/
.contact-heading{
    display: block;
    padding: 10px;
}

.center-form{
    padding: 0 5%;
}

.form-row .col{
    padding: 10px;
}
/*--------------------------------------------footer.css*/

footer{
    background-color: grey;
    color: black;
    min-height: 120px;
}

.cv-pdf i {
    font-size: 18px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
    color: #e84610;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e84610;
}

#footer-details {
    padding: 20px;
}



